workflows/job-intelligence-system-v1.0.template.json
{
  "name": "Job application",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        -224
      ],
      "id": "960fc075-f02d-4ba7-9d53-b50bf1872abf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "q": "is:unread newer_than:3d (Werkstudent OR Praktikum OR Internship OR Embedded OR Elektronik OR Elektrotechnik OR Automation OR Python OR C++ OR Firmware OR Mechatronik OR \"Application Engineering\" OR Applikationsingenieur OR SPS OR PLC OR IoT OR Linux OR Testing OR Automotive OR Halbleiter OR Semiconductor) (Duisburg OR Düsseldorf OR Essen OR NRW OR Hybrid OR Remote OR Warstein OR Soest)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -336,
        -352
      ],
      "id": "ea6b8702-69d3-423e-a08e-0e99a1d94b6e",
      "name": "Emails 1",
      "webhookId": "ceafd174-9994-469c-a003-06e1ce167d79",
      "credentials": {
        "gmailOAuth2": {
          "id": "7ReriNYHTgQTyqMj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "q": "is:unread newer_than:3d (Werkstudent OR Praktikum OR Internship OR Embedded OR Elektronik OR Elektrotechnik OR Automation OR Python OR C++ OR Firmware OR Mechatronik OR \"Application Engineering\" OR Applikationsingenieur OR SPS OR PLC OR IoT OR Linux OR Testing OR Automotive OR Halbleiter OR Semiconductor) (Duisburg OR Düsseldorf OR Essen OR NRW OR Hybrid OR Remote OR Warstein OR Soest)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -336,
        -32
      ],
      "id": "887a57cc-9ccf-4e01-835d-d6a0fd81bafe",
      "name": "Emails 2",
      "webhookId": "ceafd174-9994-469c-a003-06e1ce167d79",
      "credentials": {
        "gmailOAuth2": {
          "id": "KX4zXrOyqgRn6lX9",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "q": "is:unread newer_than:3d (Werkstudent OR Praktikum OR Internship OR Embedded OR Elektronik OR Elektrotechnik OR Automation OR Python OR C++ OR Firmware OR Mechatronik OR \"Application Engineering\" OR Applikationsingenieur OR SPS OR PLC OR IoT OR Linux OR Testing OR Automotive OR Halbleiter OR Semiconductor) (Duisburg OR Düsseldorf OR Essen OR NRW OR Hybrid OR Remote OR Warstein OR Soest)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -336,
        240
      ],
      "id": "731d4729-542f-4f8b-9f7f-7f3351902e5a",
      "name": "Emails 3",
      "webhookId": "ceafd174-9994-469c-a003-06e1ce167d79",
      "credentials": {
        "gmailOAuth2": {
          "id": "OV9KL1u0gBzHt5XF",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{$json.message}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -352
      ],
      "id": "4c03609f-ffa9-4030-a0ee-f74ab56c4e77",
      "name": "E1",
      "webhookId": "4bd0911a-690e-4969-8391-ff47b9dc51b1",
      "credentials": {
        "telegramApi": {
          "id": "O9QF4zHjs3JKymnl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📩 ACCOUNT: YOUR_EMAIL_ACCOUNT\n\n🏢 Company:\n{{$json.from.value[0].name}}\n\n📧 Email:\n{{$json.from.value[0].address}}\n\n📌 Subject:\n{{$json.subject}}\n\n🕒 Date:\n{{$json.date}}\n\n🔗 Message ID:\n{{$json.messageId}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -32
      ],
      "id": "9bcb0a1f-dbd7-4bff-81b4-66445198207b",
      "name": "E2",
      "webhookId": "4bd0911a-690e-4969-8391-ff47b9dc51b1",
      "credentials": {
        "telegramApi": {
          "id": "O9QF4zHjs3JKymnl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📩 ACCOUNT: YOUR_EMAIL_ACCOUNT\n\n🏢 Company:\n{{$json.from.value[0].name}}\n\n📧 Email:\n{{$json.from.value[0].address}}\n\n📌 Subject:\n{{$json.subject}}\n\n🕒 Date:\n{{$json.date}}\n\n🔗 Message ID:\n{{$json.messageId}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        224
      ],
      "id": "48bf0583-1425-40d2-8921-fff3c0dc31e5",
      "name": "E3",
      "webhookId": "4bd0911a-690e-4969-8391-ff47b9dc51b1",
      "credentials": {
        "telegramApi": {
          "id": "O9QF4zHjs3JKymnl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Emails 1').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -176,
        -512
      ],
      "id": "53d5c51d-9c48-45bb-bc27-9c3b5d6e2f57",
      "name": "Mark a message as read",
      "webhookId": "3cbf1314-46c6-4d52-a3d7-d35d998e14e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "7ReriNYHTgQTyqMj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Emails 2').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -192,
        -160
      ],
      "id": "b8e29bd5-35b9-4f6b-b5fe-0563df24279a",
      "name": "Mark a message as read1",
      "webhookId": "3cbf1314-46c6-4d52-a3d7-d35d998e14e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "KX4zXrOyqgRn6lX9",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Emails 3').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        432
      ],
      "id": "3807e97b-5e78-4cac-869d-92fc90b9b1f2",
      "name": "Mark a message as read2",
      "webhookId": "3cbf1314-46c6-4d52-a3d7-d35d998e14e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "OV9KL1u0gBzHt5XF",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        -352
      ],
      "id": "968cb1f7-ad63-4a69-8022-6b9616222b36",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        -32
      ],
      "id": "e23228bd-08b5-4c45-b283-70bccfd68c88",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        256,
        224
      ],
      "id": "5922831c-9075-4c4f-8650-e35aec9511d8",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "jobs",
              "cssSelector": "a",
              "returnArray": true
            },
            {
              "key": "links",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -176,
        -352
      ],
      "id": "ef2b51bb-6024-45d9-b355-71c307967895",
      "name": "HTML"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -160,
        -32
      ],
      "id": "a398a4bc-5158-43cb-9d7f-4ee0fa6bf687",
      "name": "HTML1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -160,
        240
      ],
      "id": "3a72f9f7-46e4-4319-8343-dd4329f49153",
      "name": "HTML2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        -352
      ],
      "id": "548a9727-7108-4da1-a871-b879febab6bf",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "function cleanText(value) {\n  return String(value || '')\n    .replace(/&/g, 'and')\n    .replace(/</g, '')\n    .replace(/>/g, '')\n    .replace(/_/g, '-')\n    .replace(/\\*/g, '')\n    .replace(/\\[/g, '')\n    .replace(/\\]/g, '')\n    .replace(/\\(/g, '')\n    .replace(/\\)/g, '')\n    .replace(/`/g, '')\n    .replace(/\"/g, '')\n    .replace(/'/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction cleanUrl(value) {\n  return String(value || '')\n    .replace(/\\s+/g, '')\n    .trim();\n}\n\nfunction normalizeUrl(value) {\n  return cleanUrl(value).split('?')[0];\n}\n\nconst aggregated = $json.data || [];\nconst account = 'YOUR_EMAIL_ACCOUNT';\nconst maxLength = 3500;\n\nconst titleBlacklist = [\n  'unsubscribe',\n  'privacy',\n  'datenschutz',\n  'legal',\n  'facebook',\n  'twitter',\n  'instagram',\n  'glassdoor',\n  'forbes',\n  'sign in',\n  'login',\n  'update your profile',\n  'view relevant jobs',\n  'manage notifications',\n  'preferences',\n  'finance',\n  'controlling',\n  'accounting',\n  'sales',\n  'marketing',\n  'human resources',\n  'hr business',\n  'procurement',\n  'supply chain'\n];\n\nconst linkBlacklist = [\n  'unsubscribe',\n  'privacy',\n  'datenschutz',\n  'legal',\n  'facebook',\n  'twitter',\n  'instagram',\n  'glassdoor',\n  'forbes',\n  'careerhub/me',\n  'login'\n];\n\nconst whitelist = [\n  'werkstudent',\n  'working student',\n  'internship',\n  'praktikum',\n  'student',\n  'engineer',\n  'engineering',\n  'developer',\n  'electronics',\n  'elektronik',\n  'elektrotechnik',\n  'automation',\n  'automatisierung',\n  'embedded',\n  'firmware',\n  'software',\n  'hardware',\n  'systems',\n  'systeme',\n  'application',\n  'testing',\n  'validation',\n  'python',\n  'c++',\n  'iot',\n  'microcontroller',\n  'semiconductor',\n  'halbleiter',\n  'standard cells',\n  'datenanalyse',\n  'qualitätsmanagement'\n];\n\nfunction isRelevant(title, link) {\n  const t = title.toLowerCase();\n  const l = link.toLowerCase();\n\n  if (!title || !link) return false;\n  if (!link.startsWith('http')) return false;\n  if (title.length < 10) return false;\n\n  if (titleBlacklist.some(b => t.includes(b))) return false;\n  if (linkBlacklist.some(b => l.includes(b))) return false;\n  if (!whitelist.some(w => t.includes(w))) return false;\n\n  return true;\n}\n\nconst blocks = [];\nconst globalSeen = new Set();\n\nfor (const email of aggregated) {\n  const source = cleanText(email.from?.value?.[0]?.name || 'Unknown');\n  const sender = cleanText(email.from?.value?.[0]?.address || '');\n  const jobs = email.jobs || [];\n  const links = email.links || [];\n\n  const jobLines = [];\n\n  for (let i = 0; i < jobs.length; i++) {\n    const title = cleanText(jobs[i]);\n    const link = normalizeUrl(links[i]);\n\n    if (!isRelevant(title, link)) continue;\n\n    const key = `${title.toLowerCase()}|${link.toLowerCase()}`;\n    if (globalSeen.has(key)) continue;\n    globalSeen.add(key);\n\n    jobLines.push(`📌 ${title}\\n${link}`);\n  }\n\n  if (jobLines.length === 0) continue;\n\n  const block = `━━━━━━━━━━━━━━\n🏢 ${source}\n\n${jobLines.join('\\n\\n')}\n\n📧 ${sender}`;\n\n  blocks.push(block);\n}\n\nif (blocks.length === 0) {\n  return [];\n}\n\nconst messages = [];\nlet current = `📬 ACCOUNT: ${account}\\n\\n`;\n\nfor (const block of blocks) {\n  const candidate = current + block + '\\n\\n';\n\n  if (candidate.length > maxLength) {\n    if (current.trim() !== `📬 ACCOUNT: ${account}`) {\n      messages.push(current.trim());\n    }\n    current = `📬 ACCOUNT: ${account}\\n\\n${block}\\n\\n`;\n  } else {\n    current = candidate;\n  }\n}\n\nif (current.trim().length > 0) {\n  messages.push(current.trim());\n}\n\nreturn messages.map((message, index) => ({\n  json: {\n    message: `Part ${index + 1}/${messages.length}\\n\\n${message}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -352
      ],
      "id": "dbd3cb2c-e90a-4f8b-8e51-79a5d0748c4c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        -32
      ],
      "id": "bd2c16ee-4029-4b5d-8bc8-2c414f5ee756",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        224
      ],
      "id": "ee0df08b-0145-4a3a-b930-9794cf605b0e",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "function cleanText(value) {\n  return String(value || '')\n    .replace(/&/g, 'and')\n    .replace(/</g, '')\n    .replace(/>/g, '')\n    .replace(/_/g, '-')\n    .replace(/\\*/g, '')\n    .replace(/\\[/g, '')\n    .replace(/\\]/g, '')\n    .replace(/\\(/g, '')\n    .replace(/\\)/g, '')\n    .replace(/`/g, '')\n    .replace(/\"/g, '')\n    .replace(/'/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction cleanUrl(value) {\n  return String(value || '')\n    .replace(/\\s+/g, '')\n    .trim();\n}\n\nfunction normalizeUrl(value) {\n  return cleanUrl(value).split('?')[0];\n}\n\nconst aggregated = $json.data || [];\nconst account = 'YOUR_EMAIL_ACCOUNT';\nconst maxLength = 3500;\n\nconst titleBlacklist = [\n  'unsubscribe',\n  'privacy',\n  'datenschutz',\n  'legal',\n  'facebook',\n  'twitter',\n  'instagram',\n  'glassdoor',\n  'forbes',\n  'sign in',\n  'login',\n  'update your profile',\n  'view relevant jobs',\n  'manage notifications',\n  'preferences',\n  'finance',\n  'controlling',\n  'accounting',\n  'sales',\n  'marketing',\n  'human resources',\n  'hr business',\n  'procurement',\n  'supply chain'\n];\n\nconst linkBlacklist = [\n  'unsubscribe',\n  'privacy',\n  'datenschutz',\n  'legal',\n  'facebook',\n  'twitter',\n  'instagram',\n  'glassdoor',\n  'forbes',\n  'careerhub/me',\n  'login'\n];\n\nconst whitelist = [\n  'werkstudent',\n  'working student',\n  'internship',\n  'praktikum',\n  'student',\n  'engineer',\n  'engineering',\n  'developer',\n  'electronics',\n  'elektronik',\n  'elektrotechnik',\n  'automation',\n  'automatisierung',\n  'embedded',\n  'firmware',\n  'software',\n  'hardware',\n  'systems',\n  'systeme',\n  'application',\n  'testing',\n  'validation',\n  'python',\n  'c++',\n  'iot',\n  'microcontroller',\n  'semiconductor',\n  'halbleiter',\n  'standard cells',\n  'datenanalyse',\n  'qualitätsmanagement'\n];\n\nfunction isRelevant(title, link) {\n  const t = title.toLowerCase();\n  const l = link.toLowerCase();\n\n  if (!title || !link) return false;\n  if (!link.startsWith('http')) return false;\n  if (title.length < 10) return false;\n\n  if (titleBlacklist.some(b => t.includes(b))) return false;\n  if (linkBlacklist.some(b => l.includes(b))) return false;\n  if (!whitelist.some(w => t.includes(w))) return false;\n\n  return true;\n}\n\nconst blocks = [];\nconst globalSeen = new Set();\n\nfor (const email of aggregated) {\n  const source = cleanText(email.from?.value?.[0]?.name || 'Unknown');\n  const sender = cleanText(email.from?.value?.[0]?.address || '');\n  const jobs = email.jobs || [];\n  const links = email.links || [];\n\n  const jobLines = [];\n\n  for (let i = 0; i < jobs.length; i++) {\n    const title = cleanText(jobs[i]);\n    const link = normalizeUrl(links[i]);\n\n    if (!isRelevant(title, link)) continue;\n\n    const key = `${title.toLowerCase()}|${link.toLowerCase()}`;\n    if (globalSeen.has(key)) continue;\n    globalSeen.add(key);\n\n    jobLines.push(`📌 ${title}\\n${link}`);\n  }\n\n  if (jobLines.length === 0) continue;\n\n  const block = `━━━━━━━━━━━━━━\n🏢 ${source}\n\n${jobLines.join('\\n\\n')}\n\n📧 ${sender}`;\n\n  blocks.push(block);\n}\n\nif (blocks.length === 0) {\n  return [];\n}\n\nconst messages = [];\nlet current = `📬 ACCOUNT: ${account}\\n\\n`;\n\nfor (const block of blocks) {\n  const candidate = current + block + '\\n\\n';\n\n  if (candidate.length > maxLength) {\n    if (current.trim() !== `📬 ACCOUNT: ${account}`) {\n      messages.push(current.trim());\n    }\n    current = `📬 ACCOUNT: ${account}\\n\\n${block}\\n\\n`;\n  } else {\n    current = candidate;\n  }\n}\n\nif (current.trim().length > 0) {\n  messages.push(current.trim());\n}\n\nreturn messages.map((message, index) => ({\n  json: {\n    message: `Part ${index + 1}/${messages.length}\\n\\n${message}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -32
      ],
      "id": "bc0b08e9-9698-433c-8388-bf1540040c28",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "function cleanText(value) {\n  return String(value || '')\n    .replace(/&/g, 'and')\n    .replace(/</g, '')\n    .replace(/>/g, '')\n    .replace(/_/g, '-')\n    .replace(/\\*/g, '')\n    .replace(/\\[/g, '')\n    .replace(/\\]/g, '')\n    .replace(/\\(/g, '')\n    .replace(/\\)/g, '')\n    .replace(/`/g, '')\n    .replace(/\"/g, '')\n    .replace(/'/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction cleanUrl(value) {\n  return String(value || '')\n    .replace(/\\s+/g, '')\n    .trim();\n}\n\nfunction normalizeUrl(value) {\n  return cleanUrl(value).split('?')[0];\n}\n\nconst aggregated = $json.data || [];\nconst account = 'YOUR_EMAIL_ACCOUNT';\nconst maxLength = 3500;\n\nconst titleBlacklist = [\n  'unsubscribe',\n  'privacy',\n  'datenschutz',\n  'legal',\n  'facebook',\n  'twitter',\n  'instagram',\n  'glassdoor',\n  'forbes',\n  'sign in',\n  'login',\n  'update your profile',\n  'view relevant jobs',\n  'manage notifications',\n  'preferences',\n  'finance',\n  'controlling',\n  'accounting',\n  'sales',\n  'marketing',\n  'human resources',\n  'hr business',\n  'procurement',\n  'supply chain'\n];\n\nconst linkBlacklist = [\n  'unsubscribe',\n  'privacy',\n  'datenschutz',\n  'legal',\n  'facebook',\n  'twitter',\n  'instagram',\n  'glassdoor',\n  'forbes',\n  'careerhub/me',\n  'login'\n];\n\nconst whitelist = [\n  'werkstudent',\n  'working student',\n  'internship',\n  'praktikum',\n  'student',\n  'engineer',\n  'engineering',\n  'developer',\n  'electronics',\n  'elektronik',\n  'elektrotechnik',\n  'automation',\n  'automatisierung',\n  'embedded',\n  'firmware',\n  'software',\n  'hardware',\n  'systems',\n  'systeme',\n  'application',\n  'testing',\n  'validation',\n  'python',\n  'c++',\n  'iot',\n  'microcontroller',\n  'semiconductor',\n  'halbleiter',\n  'standard cells',\n  'datenanalyse',\n  'qualitätsmanagement'\n];\n\nfunction isRelevant(title, link) {\n  const t = title.toLowerCase();\n  const l = link.toLowerCase();\n\n  if (!title || !link) return false;\n  if (!link.startsWith('http')) return false;\n  if (title.length < 10) return false;\n\n  if (titleBlacklist.some(b => t.includes(b))) return false;\n  if (linkBlacklist.some(b => l.includes(b))) return false;\n  if (!whitelist.some(w => t.includes(w))) return false;\n\n  return true;\n}\n\nconst blocks = [];\nconst globalSeen = new Set();\n\nfor (const email of aggregated) {\n  const source = cleanText(email.from?.value?.[0]?.name || 'Unknown');\n  const sender = cleanText(email.from?.value?.[0]?.address || '');\n  const jobs = email.jobs || [];\n  const links = email.links || [];\n\n  const jobLines = [];\n\n  for (let i = 0; i < jobs.length; i++) {\n    const title = cleanText(jobs[i]);\n    const link = normalizeUrl(links[i]);\n\n    if (!isRelevant(title, link)) continue;\n\n    const key = `${title.toLowerCase()}|${link.toLowerCase()}`;\n    if (globalSeen.has(key)) continue;\n    globalSeen.add(key);\n\n    jobLines.push(`📌 ${title}\\n${link}`);\n  }\n\n  if (jobLines.length === 0) continue;\n\n  const block = `━━━━━━━━━━━━━━\n🏢 ${source}\n\n${jobLines.join('\\n\\n')}\n\n📧 ${sender}`;\n\n  blocks.push(block);\n}\n\nif (blocks.length === 0) {\n  return [];\n}\n\nconst messages = [];\nlet current = `📬 ACCOUNT: ${account}\\n\\n`;\n\nfor (const block of blocks) {\n  const candidate = current + block + '\\n\\n';\n\n  if (candidate.length > maxLength) {\n    if (current.trim() !== `📬 ACCOUNT: ${account}`) {\n      messages.push(current.trim());\n    }\n    current = `📬 ACCOUNT: ${account}\\n\\n${block}\\n\\n`;\n  } else {\n    current = candidate;\n  }\n}\n\nif (current.trim().length > 0) {\n  messages.push(current.trim());\n}\n\nreturn messages.map((message, index) => ({\n  json: {\n    message: `Part ${index + 1}/${messages.length}\\n\\n${message}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        224
      ],
      "id": "a84cc034-6af1-4b81-aaf1-9144696c5eb7",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Emails 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Emails 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Emails 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emails 1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emails 2": {
      "main": [
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Emails 3": {
      "main": [
        [
          {
            "node": "Mark a message as read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "E1": {
      "main": [
        []
      ]
    },
    "E2": {
      "main": [
        []
      ]
    },
    "E3": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        []
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "E1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "E2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "E3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc5a4c88-99f4-43bb-a881-4b6b2bb3738b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5051bcd3a483aa2501d256a1b17c9547e44957f191cb28fed05f5f769f5e03a"
  },
  "id": "0fYP8MWKC8UsLo5E",
  "tags": []
}